# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

node_modules/

.idea
gui/static/dev/

# coverage

cover.out
cover.html

# any *.out file

*.out

# executables

cmd/cxocli/cxocli
cmd/cxod/cxod

# tests directory

node/test/

# suffix for ignore files and directories temporary 

*.go.ignore

intro/server/server
intro/server/server.db
intro/pipe/pipe
intro/pipe/pipe.db
intro/client/client
intro/client/client.db

