# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
vendor/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

node_modules/

.idea
gui/static/dev/

# coverage

cover.out
cover.html

# any *.out file

*.out

# executables

cmd/cxocli/cxocli
cmd/cxod/cxod

intro/skybrief/skybrief

intro/discovery/through/server/server
intro/discovery/through/ca/ca
intro/discovery/through/cb/cb

intro/discovery/exchange/ca/ca
intro/discovery/exchange/cb/cb

intro/send_receive/src/src
intro/send_receive/dst/dst

intro/preview/seed/seed
intro/preview/peer/peer

intro/cleanup/cleanup

# suffix for ignore files and directories temporary

*.go.ignore

*.db
*.db.cxds
*.db.idx


